<div class='container'>
  <div class='order-now'>
    <h2 class='visually-hidden'>Order price</h2>
    <h3 class='title order-title'>
      Вартість
      <span class='order-title__accent'>{{price}} грн.</span>
    </h3>
    <p class='order-now__delivery'>
      Самовивіз у Львові або доставка Новою Поштою
    </p>
    <button type='button' class='btn btn--primary order-now__btn'>
      Оформити замовлення
    </button>
  </div>
</div>