<div class='container-order container'>
  <div class='pre-order'>
    <h2 class='visually-hidden'>Pre-order price</h2>
    <h3 class='title pre-order-title'>
      Вартість
      <span class='pre-order-title__crossed'>{{price}} грн.</span>
    </h3>
    <p class='pre-order__text'>
      Попереднє замовлення -
      <span class='pre-order__price'>{{preOrder}} грн.</span>
    </p>
    <p class='pre-order__delivery'>
      Доставка Новою Поштою в лютому-березні 2023 року.
    </p>
    <button type='button' class='btn btn--primary pre-order__btn'>
      Попереднє замовлення
    </button>
    <div class='pre-order__link'>
      <a href=''>Повідомити про наявність</a>
    </div>
    <div class='motivation-block'>
      <p class='motivation-block__text'>
        Проінвестуй у свій розвиток та початок великої особистої трансформації.
        Приєднуйся до
        <a href='' class='motivation-block__link'>спільноти однодумців</a>, яка
        спільнокоштом запустить перший тираж у друк.
        <br /><br />
        Твій вклад сьогодні дозволить цьому проекту розвиватися у близькому
        майбутньому.
      </p>
    </div>
  </div>
</div>