<div class='container-order container'>
  <div class='pre-order'>
    <h2 class='visually-hidden'>Pre-order price</h2>
    <h3 class='title pre-order-title'>
      Вартість
      <span class='pre-order-title__crossed'>{{price}} грн.</span>
    </h3>
    <p class='pre-order__text'>
      Передзамовлення -
      <span class='pre-order__price'>{{preOrderPrice}} грн.</span>
    </p>
    <p class='pre-order__delivery'>
      Дату відправлення уточнюй в
      <a
        class='qa__item-link'
        target='_blank'
        href='https://www.instagram.com/flexy.planner/'
      >Instagram</a>, або запитуй в
      <a
        class='qa__item-link'
        target='_blank'
        href='https://t.me/FlexyPlanner_bot'
      >Telegram</a>.
    </p>
    <a href='./order.html' class='btn btn--primary pre-order__btn'>
      Попереднє замовлення
    </a>
    <button
      class='pre-order__btn--feedback'
      aria-label='Кнопка для запиту повідомлення про наявність'
    >Повідомити про наявність</button>
    <div class='motivation-block'>
      <p class='motivation-block__text'>
        Здійснивши передзамовлення сьогодні, ти допоможеш нам запустити новий
        тираж у друк і отримаєш свій примірник раніше за інших по найкращій
        ціні.
      </p>
    </div>
  </div>
</div>