<div class='container-order container'>
  <div class='order-now'>
    <h2 class='visually-hidden'>Order price</h2>
      <h3 class='title pre-order-title'>
      Вартість
      <span class='pre-order-title__crossed'>2200 грн.</span>
    </h3>
    <p class='pre-order__text'>
      Вартість зі знижкою -
      <span class='pre-order__price'>{{price}} грн.</span>
    </p>
    <p class='order-now__delivery'>
      Самовивіз у Львові або доставка Новою Поштою
    </p>
    <a href='./order.html' class='btn btn--primary order-now__btn'>
      Оформити замовлення
    </a>
  </div>
</div>