<div class="order-admin">
  <h3 class="order-admin__text1">Активізація модулів замовлення</h3>

  <div class="wrap">
    <p>Попереднє замовлення</p>
    <form class="form-pre-order">
      <label for="">
        <span>price</span>
        <input type="number" min="1" step="any" name="price" />
      </label>
      <label for="">
        <span>Pre-order price</span>
        <input type="number" min="1" step="any" name="pre-order price" />
      </label>
      <button type="submit" class="btn btn-primary">Додати дані модуля</button>
      <button
        type="button"
        data-status="pre-order"
        class="btn btn-secondary btn-order-js"
      >
        Активувати
      </button>
    </form>
  </div>

  <div class="wrap">
    <p>Оформити замовлення</p>
    <form class="form-to-order">
      <label for="">
        <span>price</span>
        <input type="number" min="1" step="any" name="price" />
      </label>
      <button type="submit" class="btn btn-primary">Додати дані модуля</button>
      <button
        type="button"
        data-status="to-order"
        class="btn btn-secondary btn-order-js"
      >
        Активувати
      </button>
    </form>
  </div>
</div>
