<section class="container">
  <h3 class="promocode__title">Секція промокодів</h3>
  <form autocomplite="off" class="promocode__form">
    <p>Виберіть тип промокоду</p>
    <div class="discount__wrapper">
      <div class="form-check promocode__group">
        <input
          class="form-check-input"
          type="radio"
          name="promocode"
          value="personal"
        />
        <label class="form-check-label"> Персональний </label>
      </div>
      <div class="form-check promocode__group">
        <input
          class="form-check-input"
          type="radio"
          name="promocode"
          value="common"
        />
        <label class="form-check-label"> Загальний </label>
      </div>
    </div>
    <div class="promocode__wrapper">
      <label for="discount" class="form-label"
        >Знижка у відсотках
        <input
          type="number"
          name="discount"
          id="discount"
          class="form-control promocode__input"
        />
      </label>
      <label for="amound" class="form-label"
        >Кількість
        <input
          type="number"
          name="amound"
          id="amound"
          value="1"
          min="1"
          class="form-control promocode__input"
        />
      </label>
    </div>
    <div class="date__wrapper">
      <label for="start">Початкова дата:</label>
      <input type="date" id="start" name="date-start" />
      <label for="to">До якого числа:</label>
      <input type="date" id="to" name="date-to" />
    </div>
    <button class="btn btn-primary" type="submit">Підтвердити</button>
  </form>
</section>
