<section class="authors section">
  <div class="authors__wrap">
    <h2 class="title authors__title">Від авторів</h2>
    <ul class="authors__text--list">
      <li class="authors__text--item" data-aos="fade" data-aos-delay="200">
        Понад
        <span class="authors__text--item--accent--bold"> три роки</span> ми
        працювали зі скрупульозною увагою до кожної дрібнички, щоб створити
        продукт, який важко не любити.
      </li>
      <li class="authors__text--item" data-aos="fade" data-aos-delay="600">
        Перетвори роботу із цим планером у щоденний ритуал і ти вибудуєш свою
        <span class="authors__text--item--accent--bold"
          >унікальну систему з регулярних дій,</span
        >
        які приведуть тебе до омріяного результату.
      </li>
      <li class="authors__text--item" data-aos="fade" data-aos-delay="1000">
        Від першого дотику до останньої списаної сторінки він
        <span class="authors__text--item--accent--bold">
          даруватиме тобі насолоду</span
        >
        від взаємодії та сатисфакцію від кожного виконаного завдання.
      </li>
      <li class="authors__text--item" data-aos="fade" data-aos-delay="1400">
        Нехай
        <span class="authors__text--tem--accent">Flexy Planner</span> стане
        твоїм кращим другом на шляху до змін, гармонії та особистого
        процвітання.
      </li>
    </ul>
  </div>

  <div class="authors__wrap">
    <div class="author" data-aos="fade" data-aos-delay="1400">
      <picture class="authors__picture">
        <source
          srcset="
            ./images/authors/desk_1x_author.jpg 1x,
            ./images/authors/desk_2x_author.jpg 2x
          "
          media="(min-width: 751px)"
        />
        <source
          srcset="
            ./images/authors/mob_1x_author.jpg 1x,
            ./images/authors/mob_2x_author.jpg 2x
          "
          media="(min-width: 375px)"
        />
        <img
          src="./images/authors/desk_1x_author.jpg"
          alt="Фото Андрія Рожило"
          class="authors__picture"
        />
      </picture>

      <div class="authors__info">
        <h3 class="authors__info--subtitle">Андрій Рожило</h3>
        <p class="authors__info--subtitle--text">
          Автор і творець Flexy Planner
        </p>
        <ul class="authors__info--jobTitle--list">
          <li class="authors__info--jobTitle--item">
            Менеджер проектів в SoftServe
          </li>
          <li class="authors__info--jobTitle--item">
            Екс-засновник Бюро архітектури і дизайну 1.618
          </li>
          <li class="authors__info--jobTitle--item">
            Екс-засновник Relevant Software
          </li>
        </ul>
      </div>
    </div>
    <div data-aos="fade" data-aos-delay="1600" class="authors__speach--wrap">
      <svg class="authors__speach--icon">
        <use href="./icons/sprite.svg#arrow_up_solid"></use>
      </svg>
      <ul class="authors__speach">
        <li class="authors__speach--text">
          Я близько 15 років займаюся менеджментом. Перепробував масу
          різноманітних організаційних практик, планерів та таск-менеджерів.
        </li>
        <li class="authors__speach--text">
          Flexy Planner - це квінтесенція моїх знань і досвіду втілена в
          зручному та інтуїтивному форматі для всіх, хто прагне досягти гармонії
          та процвітання.
        </li>
      </ul>
    </div>
  </div>
</section>
