<section class="section description">
  <div class="container">
    <h2 class="title description__title">
      Створений з любов’ю та особливою увагою до деталей
    </h2>
    <div class="description__content">
      <div class="description__images">
        <img
          data-aos="fade-up"
          data-aos-delay="200"
          class="description__image"
          srcset="
            ./images/description/mob_1x_planner.png   335w,
            ./images/description/mob_2x_planner.png   670w,
            ./images/description/desk_1x_planner.png  728w,
            ./images/description/desk_2x_planner.png 1456w
          "
          sizes="(min-width: 1440px) 728px, 335px"
          src="./images/description/mob_1x_planner.png"
          alt="FlexyPlanner"
        />
        <ul class="description__list">
          <li data-aos="fade-up" data-aos-delay="400" class="description__item">
            <p class="description__text">тверда обкладинка без виступів</p>
          </li>
          <li data-aos="fade-up" data-aos-delay="600" class="description__item">
            <p class="description__text">перфоровані відривні закладки</p>
          </li>
          <li data-aos="fade-up" data-aos-delay="800" class="description__item">
            <p class="description__text">резинка фіксатор</p>
          </li>
          <li
            data-aos="fade-up"
            data-aos-delay="1000"
            class="description__item"
          >
            <p class="description__text">дві додаткові тканинні закладки</p>
          </li>
          <li
            data-aos="fade-up"
            data-aos-delay="1200"
            class="description__item"
          >
            <p class="description__text">ергономічні кутики</p>
          </li>
          <li
            data-aos="fade-up"
            data-aos-delay="1400"
            class="description__item"
          >
            <p class="description__text">унікальне авторське наповнення</p>
          </li>
          <li
            data-aos="fade-up"
            data-aos-delay="1600"
            class="description__item"
          >
            <p class="description__text">приємний на дотик</p>
          </li>
          <li
            data-aos="fade-up"
            data-aos-delay="1800"
            class="description__item"
          >
            <p class="description__text">мінімалістичний дизайн</p>
          </li>
        </ul>
      </div>
      <div class="description__benefits">
        <ul class="benefits-list">
          <li data-aos="fade-right" class="benefits-list__item">
            Компактний розмір (15х19х2,4см)
          </li>
          <li
            data-aos="fade-right"
            data-aos-delay="200"
            class="benefits-list__item"
          >
            Якісний кремовий папір 80 г./м.
          </li>
          <li
            data-aos="fade-right"
            data-aos-delay="400"
            class="benefits-list__item"
          >
            340 сторінок, з яких 50 для нотаток та творчості
          </li>
          <li
            data-aos="fade-right"
            data-aos-delay="600"
            class="benefits-list__item"
          >
            Недатований, розрахований на півроку
          </li>
          <li
            data-aos="fade-right"
            data-aos-delay="800"
            class="benefits-list__item"
          >
            Кілька кольорів обкладинок на вибір
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
