<section class="section description">
  <div class="desc-container">
    <h2 class="title description__title">
      Створений з любов’ю та особливою увагою до деталей
    </h2>
    <div class="description__content">
      <div class="img-wrapper" data-aos="fade" data-aos-delay="400">
        <img
          class="description__image"
          srcset="
            ./images/description/mob_1x_planner.png   335w,
            ./images/description/mob_2x_planner.png   670w,
            ./images/description/desk_1x_planner.png  728w,
            ./images/description/desk_2x_planner.png 1456w
          "
          sizes="(min-width: 751px) 728px, 335px"
          src="./images/description/mob_1x_planner.png"
          alt="FlexyPlanner"
        />
        <ul class="btn-wrapper">
          <li class="description__button-wrapper">
            <button class="description__button" type="button">
              <span></span>
              <span></span>
            </button>
          </li>
          <li class="description__button-wrapper">
            <button class="description__button" type="button">
              <span></span>
              <span></span>
            </button>
          </li>
          <li class="description__button-wrapper">
            <button class="description__button" type="button">
              <span></span>
              <span></span>
            </button>
          </li>
          <li class="description__button-wrapper">
            <button class="description__button" type="button">
              <span></span>
              <span></span>
            </button>
          </li>
          <li class="description__button-wrapper">
            <button class="description__button" type="button">
              <span></span>
              <span></span>
            </button>
          </li>
          <li class="description__button-wrapper">
            <button class="description__button" type="button">
              <span></span>
              <span></span>
            </button>
          </li>
          <li class="description__button-wrapper">
            <button class="description__button" type="button">
              <span></span>
              <span></span>
            </button>
          </li>
          <li class="description__button-wrapper">
            <button class="description__button" type="button">
              <span></span>
              <span></span>
            </button>
          </li>
        </ul>
        <div class="description__hint">
          <span class="hint" data-aos="fade" data-aos-delay="400">тицьни</span
          ><img
            class="hint-img"
            src="./images/description/arrow.png"
            alt="arrow"
            width="160"
            data-aos="fade"
            data-aos-delay="400"
          />
        </div>
      </div>
      <ul class="description__list">
        <li class="description__item">
          <p class="description__text">ергономічні кутики</p>
        </li>
        <li class="description__item">
          <p class="description__text">унікальне авторське наповнення</p>
        </li>
        <li class="description__item">
          <p class="description__text">перфоровані відривні закладки</p>
        </li>
        <li class="description__item">
          <p class="description__text">резинка фіксатор</p>
        </li>
        <li class="description__item">
          <p class="description__text">дві додаткові тканинні закладки</p>
        </li>
        <li class="description__item">
          <p class="description__text">тверда обкладинка без виступів</p>
        </li>
        <li class="description__item">
          <p class="description__text">приємний на дотик</p>
        </li>
        <li class="description__item">
          <p class="description__text">мінімалістичний дизайн</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="benefits">
      <ul class="benefits-list">
        <li data-aos="fade" data-aos-delay="200" class="benefits-list__item">
          Компактний розмір (14х19,5х1,7см)
        </li>
        <li data-aos="fade" data-aos-delay="400" class="benefits-list__item">
          Якісний кремовий папір 80 г./м.
        </li>
        <li data-aos="fade" data-aos-delay="600" class="benefits-list__item">
          360 сторінок, з яких 46 для нотаток та творчості
        </li>
        <li data-aos="fade" data-aos-delay="800" class="benefits-list__item">
          Недатований, розрахований на півроку
        </li>
        <li data-aos="fade" data-aos-delay="1000" class="benefits-list__item">
          Кілька кольорів обкладинок на вибір
        </li>
      </ul>
    </div>
  </div>
</section>
