<section class="footer__section">
  <div class="footer__contacts">
    <h5 class="footer__title">Контакти</h5>
    <p class="footer__text">inbox@flexyplanner.com</p>
  </div>
  <div class="footer__icons">
    <link rel="stylesheet" href="">
        <svg class="footer__icon">
          <use href="../assets/ico/sprite.svg#instagram"></use>
        </svg>
    </link>
    <link rel="stylesheet" href="">
        <svg class="footer__icon">
          <use href="../assets/ico/sprite.svg#telegram"></use>
        </svg>
    </link>
  </div>
  <button type="button" class="btn btn--primary footer__button">
    Замовити Flexy Planner
  </button>
</section>
