<section class="footer__section">
  <div class="footer__contacts">
    <h5 class="footer__title">Контакти</h5>
    <a href="mailto:inbox@flexyplanner.com" class="footer__text"
      >inbox@flexyplanner.com</a
    >
  </div>
  <div class="footer__icons">
    <a href="https://www.instagram.com/flexy.planner/">
      <svg class="footer__icon">
        <use href="./icons/sprite.svg#instagram"></use>
      </svg>
    </a>
    <a href="https://t.me/flexy_planner">
      <svg class="footer__icon">
        <use href="./icons/sprite.svg#telegram"></use>
      </svg>
    </a>
  </div>
  <a href="#order" class="btn btn--primary footer__button">
    Замовити Flexy Planner
  </a>
</section>
