<section class="hero">
  <div class="container">
    <h1 class="visually-hidden">flexxy planner</h1>
    <a href="" class="logo-link" aria-label="link to flexxy planner">
      <img src="images/logo.svg" alt="logo flexxy planner" />
    </a>
    <div class="hero__description">
      <p>
        Організовуй своє життя у гнучкий,
        <span class="hero__accent-text">ефективний</span> та захоплюючий спосіб.
      </p>
    </div>

    <!-- Slider main container -->
    <div class="hero__swiper swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="hero__swiper-slide swiper-slide">
          <div class="swiper-slide__container">
            <img src="images/1.jpg" alt="flexxy planner" />
          </div>
        </li>
        <li class="hero__swiper-slide swiper-slide">
          <div class="swiper-slide__container">
            <img src="images/2.jpg" alt="flexxy planner" />
          </div>
        </li>
        <li class="hero__swiper-slide swiper-slide">
          <div class="swiper-slide__container">
            <img src="images/3.jpg" alt="flexxy planner" />
          </div>
        </li>
      </ul>
      <!-- If we need pagination -->
      <ul class="hero__pagination swiper-pagination">
        <li class="bullet bullet-yellow">
          <span aria-label="flexxy planer yellow"></span>
        </li>
        <li class="bullet bullet-red">
          <span aria-label="flexxy planer red"></span>
        </li>
        <li class="bullet bullet-black">
          <span aria-label="flexxy planer black"></span>
        </li>
      </ul>
    </div>

    <div class="hero__slider-text">
      Багатофункціональний адаптивний щоденник
    </div>
    <a href="#" class="hero__btn" aria-label="link to order">Замовити</a>
  </div>
</section>
