<section class="hero" id="hero__up">
  <div class="container">
    <h1 class="visually-hidden">flexxy planner</h1>
    <div class="hero__main">
      <div class="hero__title">
        <a href="" class="logo-link" aria-label="link to flexxy planner">
          <picture>
            <source
              srcset="
                ./images/logo/mob_logo_1x.png 1x,
                ./images/logo/mob_logo_2x.png 2x
              "
              media="(max-width: 375px)"
            />
            <source
              srcset="
                ./images/logo/desk_logo_1x.png 1x,
                ./images/logo/desk_logo_2x.png 2x
              "
              media="(min-width: 980px)"
            />
            <img
              src="./images/logo/mob_logo_2x.png"
              alt="flexxy planner logo"
            />
          </picture>
        </a>
        <div class="hero__description">
          <p>
            Організовуй своє життя у гнучкий,
            <span class="hero__accent-text">ефективний</span> та захоплюючий
            спосіб.
          </p>
        </div>
      </div>

      <!-- Slider main container -->
      <div class="hero__swiper swiper">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper">
          <!-- Slides -->
          <li class="hero__swiper-slide swiper-slide">
            <div class="swiper-slide__container">
              <picture>
                <source
                  srcset="
                    ./images/hero/desk_1x_planner_red.jpg 1x,
                    ./images/hero/desk_2x_planner_red.jpg 2x
                  "
                  media="(min-width: 980px)"
                  type="image/jpg"
                />
                <source
                  srcset="
                    ./images/hero/mob_1x_planner_red.png 1x,
                    ./images/hero/mob_2x_planner_red.png 2x
                  "
                  media="(min-width: 375px)"
                  type="image/png"
                />
                <img
                  src="./images/hero/mob_2x_planner_red.png"
                  alt="flexxy planner red"
                />
              </picture>
            </div>
          </li>
          <li class="hero__swiper-slide swiper-slide">
            <div class="swiper-slide__container">
              <picture>
                <source
                  srcset="
                    ./images/hero/desk_1x_planner_yellow.jpg 1x,
                    ./images/hero/desk_2x_planner_yellow.jpg 2x
                  "
                  media="(min-width: 980px)"
                  type="image/jpg"
                />
                <source
                  srcset="
                    ./images/hero/mob_1x_planner_yellow.png 1x,
                    ./images/hero/mob_2x_planner_yellow.png 2x
                  "
                  media="(min-width: 375px)"
                  type="image/png"
                />
                <img
                  src="./images/hero/mob_2x_planner_yellow.png"
                  alt="flexxy planner yellow"
                />
              </picture>
            </div>
          </li>
          <li class="hero__swiper-slide swiper-slide">
            <div class="swiper-slide__container">
              <picture>
                <source
                  srcset="
                    ./images/hero/desk_1x_planner_black.jpg 1x,
                    ./images/hero/desk_2x_planner_black.jpg 2x
                  "
                  media="(min-width: 980px)"
                  type="image/jpg"
                />
                <source
                  srcset="
                    ./images/hero/mob_1x_planner_black.png 1x,
                    ./images/hero/mob_2x_planner_black.png 2x
                  "
                  media="(min-width: 375px)"
                  type="image/png"
                />
                <img
                  src="./images/hero/mob_2x_planner_black.png"
                  alt="flexxy planner yellow"
                />
              </picture>
            </div>
          </li>
        </ul>
        <!-- If we need pagination -->
        <ul class="hero__pagination swiper-pagination">
          <li class="bullet bullet-yellow">
            <span aria-label="flexxy planer red"></span>
          </li>
          <li class="bullet bullet-red">
            <span aria-label="flexxy planer yellow"></span>
          </li>
          <li class="bullet bullet-black">
            <span aria-label="flexxy planer black"></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="hero__slider-text">
      Багатофункціональний адаптивний щоденник
    </div>
    <a href="#order" class="hero__btn" aria-label="link to order">Замовити</a>
  </div>
</section>
