<section class="howitworks">
  <div class="container">
    <h2 class="howitworks__title">Як це працює?</h2>
    <ul class="howitworks__list">
      <li class="howitworks__item">
        <div>1. Рефлексуй</div>
        <ul class="howitworks-checkbox__list">
          <li class="howitworks-checkbox__item">Проаналізуй своє життя</li>
          <li class="howitworks-checkbox__item">Встанови зв’язок із глибинним Я</li>
          <li class="howitworks-checkbox__item">Усвідом свої справжні потреби</li>
          <li class="howitworks-checkbox__item">Переосмисли своє призначення</li>
          <li class="howitworks-checkbox__item">Сформулюй чіткі наміри</li>
        </ul>
      </li>
      <li class="howitworks__item">
        <div>2. Змінюйся</div>
        <ul class="howitworks-checkbox__list">
          <li class="howitworks-checkbox__item">Впроваджуй нові звички</li>
          <li class="howitworks-checkbox__item">Дій в злагоді з внутрішнім ритмом</li>
          <li class="howitworks-checkbox__item">Відстежуй свій прогрес</li>
          <li class="howitworks-checkbox__item">Аналізуй отриманий досвід</li>
          <li class="howitworks-checkbox__item">Стань кращою версією себе</li>
        </ul>
      </li>
      <li class="howitworks__item">
        <div>3. плануй</div>
        <ul class="howitworks-checkbox__list">
          <li class="howitworks-checkbox__item">Встанови чіткі і досяжні цілі</li>
          <li class="howitworks-checkbox__item">Розбий їх на етапи і завдання</li>
          <li class="howitworks-checkbox__item">Визначай пріоритети</li>
          <li class="howitworks-checkbox__item">Відстежуй свій прогрес</li>
          <li class="howitworks-checkbox__item">Адаптуй план до змін</li>
        </ul>
      </li>
      <li class="howitworks__item">
        <div>4. втілюй</div>
        <ul class="howitworks-checkbox__list">
          <li class="howitworks-checkbox__item">Плануй в насолоду</li>
          <li class="howitworks-checkbox__item">Виконуй щоденні ритуали</li>
          <li class="howitworks-checkbox__item">Фокусуйся на головному</li>
          <li class="howitworks-checkbox__item">Дій ефективно</li>
          <li class="howitworks-checkbox__item">Досягай своїх цілей</li>
        </ul>
      </li>
      <li class="howitworks__item">
        <div>5. нотуй</div>
        <ul class="howitworks-checkbox__list">
          <li class="howitworks-checkbox__item">Тримай записник під рукою</li>
          <li class="howitworks-checkbox__item">Викладай думки на папір</li>
          <li class="howitworks-checkbox__item">Мрій</li>
          <li class="howitworks-checkbox__item">Твори</li>
          <li class="howitworks-checkbox__item">Рефлексуй</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
