<div class="howitworks">
  <div class="howitworks-container container">
    <h2 class="howitworks__title title">Як це працює?</h2>
    <ul class="howitworks__list">
      <li
        class="howitworks__item"
        data-lc-control="feature-toggle-1"
        data-observer="observer-toggle-1"
      >
        <div class="howitworks-item__wrapper">
          <p class="howitworks__number">1.</p>
          <div class="howitworks__icon-wrapper">
            <p class="howitworks__text">Рефлексуй</p>
            <svg class="howitworks__arrow-icon">
              <use href="./icons/sprite.svg#arrow_down"></use>
            </svg>
          </div>
        </div>
        <ul
          class="howitworks-checkbox__list"
          data-lc-content="feature-toggle-1"
        >
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Проаналізуй своє життя</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">
              Встанови зв’язок із глибинним Я
            </p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">
              Усвідом свої справжні потреби
            </p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">
              Переосмисли своє призначення
            </p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Сформулюй чіткі наміри</p>
          </li>
        </ul>
      </li>
      <li
        class="howitworks__item"
        data-lc-control="feature-toggle-2"
        data-observer="observer-toggle-2"
      >
        <div class="howitworks-item__wrapper">
          <p class="howitworks__number">2.</p>
          <div class="howitworks__icon-wrapper">
            <p class="howitworks__text">Змінюйся</p>
            <svg class="howitworks__arrow-icon">
              <use href="./icons/sprite.svg#arrow_down"></use>
            </svg>
          </div>
        </div>
        <ul
          class="howitworks-checkbox__list"
          data-lc-content="feature-toggle-2"
        >
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Впроваджуй нові звички</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">
              Дій в злагоді з внутрішнім ритмом
            </p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Відстежуй свій прогрес</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Аналізуй отриманий досвід</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Стань кращою версією себе</p>
          </li>
        </ul>
      </li>
      <li
        class="howitworks__item"
        data-lc-control="feature-toggle-3"
        data-observer="observer-toggle-3"
      >
        <div class="howitworks-item__wrapper">
          <p class="howitworks__number">3.</p>
          <div class="howitworks__icon-wrapper">
            <p class="howitworks__text">Плануй</p>
            <svg class="howitworks__arrow-icon">
              <use href="./icons/sprite.svg#arrow_down"></use>
            </svg>
          </div>
        </div>
        <ul
          class="howitworks-checkbox__list"
          data-lc-content="feature-toggle-3"
        >
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">
              Встанови чіткі і досяжні цілі
            </p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">
              Розбий їх на етапи і завдання
            </p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Визначай пріоритети</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Відстежуй свій прогрес</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Адаптуй план до змін</p>
          </li>
        </ul>
      </li>
      <li
        class="howitworks__item"
        data-lc-control="feature-toggle-4"
        data-observer="observer-toggle-4"
      >
        <div class="howitworks-item__wrapper">
          <p class="howitworks__number">4.</p>
          <div class="howitworks__icon-wrapper">
            <p class="howitworks__text">Втілюй</p>
            <svg class="howitworks__arrow-icon">
              <use href="./icons/sprite.svg#arrow_down"></use>
            </svg>
          </div>
        </div>
        <ul
          class="howitworks-checkbox__list"
          data-lc-content="feature-toggle-4"
        >
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Плануй в насолоду</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Виконуй щоденні ритуали</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Фокусуйся на головному</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Дій ефективно</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Досягай своїх цілей</p>
          </li>
        </ul>
      </li>
      <li
        class="howitworks__item"
        data-lc-control="feature-toggle-5"
        data-observer="observer-toggle-5"
      >
        <div class="howitworks-item__wrapper">
          <p class="howitworks__number">5.</p>
          <div class="howitworks__icon-wrapper">
            <p class="howitworks__text">Нотуй</p>
            <svg class="howitworks__arrow-icon">
              <use href="./icons/sprite.svg#arrow_down"></use>
            </svg>
          </div>
        </div>
        <ul
          class="howitworks-checkbox__list"
          data-lc-content="feature-toggle-5"
        >
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Тримай записник під рукою</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Викладай думки на папір</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Мрій</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Твори</p>
          </li>
          <li class="howitworks-checkbox__item">
            <span class="checkbox-wrapper">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checked_mark"></use>
              </svg>
            </span>
            <p class="howitworks-checkbox__text">Рефлексуй</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="quotes">
  <div data-aos="fade" class="quotes__wrapper">
    <div class="quotes__icon-wrapper">
      <svg class="quotes__icon">
        <use href="./icons/sprite.svg#quotes"></use>
      </svg>
    </div>
    <p class="quotes__descr">
      Однією з
      <span class="quotes__descr--accent">переваг ведення щоденника</span> є те,
      що ви з обнадійливою ясністю
      <span class="quotes__descr--accent">усвідомлюєте зміни</span>, які
      постійно відчуваєте. (Франц Кафка)
    </p>
  </div>
</div>
