<section class="section">
  <div class="howitworks">
    <div class="howitworks-container">
      <h2 class="howitworks__title">Як це працює?</h2>
      <ul class="howitworks__list">
        <li class="howitworks__item" data-lc-control="feature-toggle-one">
          <div class="howitworks-item__wrapper">
            <p class="howitworks__number">1.</p>
            <div class="howitworks__icon-wrapper">
              <p class="howitworks__text">Рефлексуй</p>
              <svg class="howitworks__arrow-icon">
                <use href="./icons/sprite.svg#arrow_down"></use>
              </svg>
            </div>
          </div>
          <ul
            class="howitworks-checkbox__list"
            data-lc-content="feature-toggle-one"
          >
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Проаналізуй своє життя</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">
                Встанови зв’язок із глибинним Я
              </p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">
                Усвідом свої справжні потреби
              </p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">
                Переосмисли своє призначення
              </p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Сформулюй чіткі наміри</p>
            </li>
          </ul>
        </li>
        <li class="howitworks__item" data-lc-control="feature-toggle-two">
          <div class="howitworks-item__wrapper">
            <p class="howitworks__number">2.</p>
            <div class="howitworks__icon-wrapper">
              <p class="howitworks__text">Змінюйся</p>
              <svg class="howitworks__arrow-icon">
                <use href="./icons/sprite.svg#arrow_down"></use>
              </svg>
            </div>
          </div>
          <ul
            class="howitworks-checkbox__list"
            data-lc-content="feature-toggle-two"
          >
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Впроваджуй нові звички</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">
                Дій в злагоді з внутрішнім ритмом
              </p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Відстежуй свій прогрес</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Аналізуй отриманий досвід</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Стань кращою версією себе</p>
            </li>
          </ul>
        </li>
        <li class="howitworks__item" data-lc-control="feature-toggle-three">
          <div class="howitworks-item__wrapper">
            <p class="howitworks__number">3.</p>
            <div class="howitworks__icon-wrapper">
              <p class="howitworks__text">Плануй</p>
              <svg class="howitworks__arrow-icon">
                <use href="./icons/sprite.svg#arrow_down"></use>
              </svg>
            </div>
          </div>
          <ul
            class="howitworks-checkbox__list"
            data-lc-content="feature-toggle-three"
          >
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">
                Встанови чіткі і досяжні цілі
              </p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">
                Розбий їх на етапи і завдання
              </p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Визначай пріоритети</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Відстежуй свій прогрес</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Адаптуй план до змін</p>
            </li>
          </ul>
        </li>
        <li class="howitworks__item" data-lc-control="feature-toggle-four">
          <div class="howitworks-item__wrapper">
            <p class="howitworks__number">4.</p>
            <div class="howitworks__icon-wrapper">
              <p class="howitworks__text">Втілюй</p>
              <svg class="howitworks__arrow-icon">
                <use href="./icons/sprite.svg#arrow_down"></use>
              </svg>
            </div>
          </div>
          <ul
            class="howitworks-checkbox__list"
            data-lc-content="feature-toggle-four"
          >
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Плануй в насолоду</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Виконуй щоденні ритуали</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Фокусуйся на головному</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Дій ефективно</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Досягай своїх цілей</p>
            </li>
          </ul>
        </li>
        <li class="howitworks__item" data-lc-control="feature-toggle-five">
          <div class="howitworks-item__wrapper">
            <p class="howitworks__number">5.</p>
            <div class="howitworks__icon-wrapper">
              <p class="howitworks__text">Нотуй</p>
              <svg class="howitworks__arrow-icon">
                <use href="./icons/sprite.svg#arrow_down"></use>
              </svg>
            </div>
          </div>
          <ul
            class="howitworks-checkbox__list"
            data-lc-content="feature-toggle-five"
          >
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Тримай записник під рукою</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Викладай думки на папір</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Мрій</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Твори</p>
            </li>
            <li class="howitworks-checkbox__item">
              <svg class="howitworks-checkbox__icon">
                <use href="./icons/sprite.svg#checkbox_checked"></use>
              </svg>
              <p class="howitworks-checkbox__text">Рефлексуй</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="quotes">
    <div data-aos="fade-up" data-aos-delay="200" class="quotes__wrapper">
      <div class="quotes__icon-wrapper">
        <svg class="quotes__icon">
          <use href="./icons/sprite.svg#quotes"></use>
        </svg>
      </div>
      <p class="quotes__descr">
        Однією з
        <span class="quotes__descr--accent">переваг ведення щоденника</span> є
        те, що ви з обнадійливою ясністю
        <span class="quotes__descr--accent">усвідомлюєте зміни</span>, які
        постійно відчуваєте. (Франц Кафка)
      </p>
    </div>
  </div>
</section>
