<div class="backdrop is-hidden">
  <div class="modal modal--success">
    <button class="close-btn" type="button">
      <svg class="close-btn__icon" width="18" height="18">
        <use href="./icons/sprite.svg#close_modal"></use>
      </svg>
    </button>
    <h2 class="modal__title">Дякуємо за покупку!</h2>
    <p class="modal__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet distinctio
      quia consectetur adipisicing odio.
    </p>
    <button class="btn btn--primary modal__btn">Приєднатися до боту</button>
  </div>
</div>
