<section class="section motivate">
  <div class="container motivate__wrapper">
    <h2 class="title">Мотивує тих, хто прагне</h2>

    <div class="motivate__blocks">

      <ul class="motivate__list">
        <li class="motivate__item">
          <svg class="icon-motivate">
            <use href="../assets/ico/sprite.svg#checkbox_checked"></use>
          </svg>
          <p class="motivate__paragraph">Зрозуміти свої <span class="strong">справжні потреби</span> і прагнення</p>
        </li>

        <li class="motivate__item">
          <svg class="icon-motivate">
            <use href="../assets/ico/sprite.svg#checkbox_checked"></use>
          </svg>
          <p class="motivate__paragraph">Усвідомити <span class="strong">своє призначення</span></p>
        </li>

        <li class="motivate__item">
          <svg class="icon-motivate">
            <use href="../assets/ico/sprite.svg#checkbox_checked"></use>
          </svg>
          <p class="motivate__paragraph">Встановити чіткі і <span class="strong">досяжні цілі</span></p>
        </li>

        <li class="motivate__item">
          <svg class="icon-motivate">
            <use href="../assets/ico/sprite.svg#checkbox_checked"></use>
          </svg>
          <p class="motivate__paragraph">Перетворити їх у детально <span class="strong">розписаний план</span></p>
        </li>
      </ul>

      <ul class="motivate__list">
        <li class="motivate__item">
          <svg class="icon-motivate">
            <use href="../assets/ico/sprite.svg#checkbox_checked"></use>
          </svg>
          <p class="motivate__paragraph">Ефективно <span class="strong">організовувати</span> кожен свій день</p>
        </li>

        <li class="motivate__item">
          <svg class="icon-motivate">
            <use href="../assets/ico/sprite.svg#checkbox_checked"></use>
          </svg>
          <p class="motivate__paragraph">Впроваджувати <span class="strong">корисні звички</span></p>
        </li>

        <li class="motivate__item">
          <svg class="icon-motivate">
            <use href="../assets/ico/sprite.svg#checkbox_checked"></use>
          </svg>
          <p class="motivate__paragraph"><span class="strong">Віднайти гармонію</span> в усіх сферах життя</p>
        </li>

        <li class="motivate__item">
          <svg class="icon-motivate">
            <use href="../assets/ico/sprite.svg#checkbox_checked"></use>
          </svg>
          <p class="motivate__paragraph">Втілити в життя <span class="strong">сміливі мрії</span></p>
        </li>
      </ul>

    </div>

  </div>



  <div class="quotes">
    <div class="quotes__wrapper">
      <div class="quotes__icon-wrapper">
        <svg class="quotes__icon">
          <use href="../assets/ico/sprite.svg#quotes"></use>
        </svg>
      </div>
      <p class="quotes__descr">
        Це
        <span class="quotes__descr--accent">покрокова інструкція</span> з самоорганізації та самотрансформації
      </p>
    </div>
  </div>

</section>