<section class="personal-coatch section">
  <div class="personal-coatch__wrapper">
    <h2 class="title personal-coatch__title">
      Це твій персональний
      <span class="title personal-coatch__title--accent">кишеньковий коуч</span>
    </h2>
    <ul class="personal-coatch__list">
      <li class="personal-coatch__item">
        <div class="personal-coatch__icon-wrapper">
          <svg class="personal-coatch__icon">
            <use href="../assets/ico/sprite.svg#brain"></use>
          </svg>
        </div>
        <p class="personal-coatch__descr">Структурує думки</p>
      </li>
      <li class="personal-coatch__item">
        <div class="personal-coatch__icon-wrapper">
          <svg class="personal-coatch__icon">
            <use href="../assets/ico/sprite.svg#lightning"></use>
          </svg>
        </div>
        <p class="personal-coatch__descr">Активує ресурсний стан</p>
      </li>
      <li class="personal-coatch__item">
        <div class="personal-coatch__icon-wrapper">
          <svg class="personal-coatch__icon">
            <use href="../assets/ico/sprite.svg#confirm"></use>
          </svg>
        </div>
        <p class="personal-coatch__descr">Підвищує ефективність</p>
      </li>
      <li class="personal-coatch__item">
        <div class="personal-coatch__icon-wrapper">
          <svg class="personal-coatch__icon">
            <use href="../assets/ico/sprite.svg#pin"></use>
          </svg>
        </div>
        <p class="personal-coatch__descr">Фокусує на головному</p>
      </li>
      <li class="personal-coatch__item">
        <div class="personal-coatch__icon-wrapper">
          <svg class="personal-coatch__icon">
            <use href="../assets/ico/sprite.svg#stars"></use>
          </svg>
        </div>
        <p class="personal-coatch__descr">Мотивує змінюватися</p>
      </li>
      <li class="personal-coatch__item">
        <div class="personal-coatch__icon-wrapper">
          <svg class="personal-coatch__icon">
            <use href="../assets/ico/sprite.svg#fix"></use>
          </svg>
        </div>
        <p class="personal-coatch__descr">Дисциплінує</p>
      </li>
    </ul>
  </div>
  <div class="quotes">
    <div class="quotes__wrapper">
      <div class="quotes__icon-wrapper">
        <svg class="quotes__icon">
          <use href="../assets/ico/sprite.svg#quotes"></use>
        </svg>
      </div>
      <p class="quotes__descr">
        Фокусуйся не так на цілях, як на
        <span class="quotes__descr--accent">системі щоденних дій</span>, які і
        приведуть тебе до омріяного результату.
      </p>
    </div>
  </div>
</section>
