<section class="qa section">
  <div class="container">
    <h2 class="qa__title">Часті запитання</h2>
    <ul class="qa__list">
      <li class="qa__item" data-hc-control="qa-toggle-one">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Чому Flexy Planner так називається?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="list-hidden" data-hc-content="qa-toggle-one">
          <p class="qa-item__text">
            Flexy ー це гра зі словом flexible (англ. гнучкий), оскільки планер
            таким запроектований. Він підходить як структурованим та
            організованим, так і творчим та інтуїтивним особистостям.
          </p>
          <p class="qa-item__text">
            Планер дозволяє працювати, як на хай-левелі, допомагаючи тобі з
            пріоритетами, так і скурпульозно планувати кожну годину,
            використовуючи категорії, оцінки та часову шкалу для завдань. Ти
            можеш гнучко змінювати свій організаційний стиль, в залежності від
            внутрішнього стану та настрою.
          </p>
          <p class="qa-item__text">
            У будь-який момент ти зможеш поставити роботу з цим планером “на
            паузу”, наприклад, під час відпустки. І відновити процес планування
            пізніше, не втрачаючи сторінок.
          </p>
        </div>
      </li>
      <li class="qa__item" data-hc-control="qa-toggle-two">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Чому “кишеньковий коуч”?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="list-hidden" data-hc-content="qa-toggle-two">
          <p class="qa-item__text">
            Планер допоможе тобі віднайти гармонію в усіх сферах життя,
            усвідомити свої справжні потреби і бажання, перетворити їх у
            детально сплановані цілі, виховати в собі нові звички і втілити в
            життя найсміливіші мрії. Ну чим не лайф-коуч?
          </p>
          <p class="qa-item__text">
            Він розрахований на півроку звичайного використання, враховуючи
            прогули 🙂, а коштує всього як одна сесія в з персональним коучем.
          </p>
          <p class="qa-item__text">
            А кишеньковий, бо спроектований так, щоб його було зручно носити з
            собою. В звичайну кишеню він, напевне не поміститься, але ось в твою
            сумку чи рюкзак ляже в самий раз.
          </p>
        </div>
      </li>
      <li class="qa__item" data-hc-control="qa-toggle-three">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">
            Чи можна оплатити на карту або готівкою?
          </h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <p class="qa-item__text list-hidden" data-hc-content="qa-toggle-three">
          Так, якщо це принципово. Напиши нам в
          <a
            class="qa__item-link"
            href="https://www.instagram.com/flexy.planner/"
            >Instagram</a
          >, або
          <a class="qa__item-link" href="https://t.me/flexy_planner"
            >Telegram</a
          >
          і ми запропонуємо інші варіанти оплати.
        </p>
      </li>
      <li class="qa__item" data-hc-control="qa-toggle-four">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Чи можна обрати іншу службу доставки?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="list-hidden" data-hc-content="qa-toggle-four">
          <p class="qa-item__text">
            Так, якщо тобі це важливо. Здійсни замовлення на сайті, а в
            коментарях вкажи свої побажання щодо бажаного способу доставки. Ми
            зателефонуємо з уточненнями. Ти також можеш написати нам в
            <a
              class="qa__item-link"
              href="https://www.instagram.com/flexy.planner/"
              >Instagram</a
            >, або
            <a class="qa__item-link" href="https://t.me/flexy_planner"
              >Telegram</a
            >.
          </p>
        </div>
      </li>
      <li class="qa__item" data-hc-control="qa-toggle-five">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Чи можна замовити доставку закордон?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="list-hidden" data-hc-content="qa-toggle-five">
          <p class="qa-item__text">
            Так. Напиши нам в
            <a
              class="qa__item-link"
              href="https://www.instagram.com/flexy.planner/"
              >Instagram</a
            >, або
            <a class="qa__item-link" href="https://t.me/flexy_planner"
              >Telegram</a
            >
            і ми знайдемо зручний для тебе спосіб доставки.
          </p>
        </div>
      </li>
      <li class="qa__item" data-hc-control="qa-toggle-six">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Де можна помацати планер?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="list-hidden" data-hc-content="qa-toggle-six">
          <p class="qa-item__text">
            На старті проекту лише у Львові при зустрічі з автором за кавою ;)
          </p>
          <p class="qa-item__text">
            Ми плануємо розмістити його в фізичних точках продажу. Напиши нам в
            <a
              class="qa__item-link"
              href="https://www.instagram.com/flexy.planner/"
              >Instagram</a
            >, або
            <a class="qa__item-link" href="https://t.me/flexy_planner"
              >Telegram</a
            >
            і ми підкажемо найближчі до тебе точки продажу.
          </p>
        </div>
      </li>
      <li class="qa__item" data-hc-control="qa-toggle-seven">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Чи можна повернути товар?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="list-hidden" data-hc-content="qa-toggle-seven">
          <p class="qa-item__text">
            Так, протягом 14 днів після купівлі, якщо планер не втратив свій
            товарний вигляд. Просто напиши нам в
            <a
              class="qa__item-link"
              href="https://www.instagram.com/flexy.planner/"
              >Instagram</a
            >, або
            <a class="qa__item-link" href="https://t.me/flexy_planner"
              >Telegram</a
            >.
          </p>
        </div>
      </li>
      <li class="qa__item" data-hc-control="qa-toggle-eight">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Чи отримаю я ще щось, крім планера?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="list-hidden" data-hc-content="qa-toggle-eight">
          <p class="qa-item__text">
            Так, нашу підтримку і допомогу. Ти можеш описати нам свою проблему,
            пов’язану з самоорганізацією, і ми спробуємо допомогти тобі її
            вирішити.
          </p>
          <p class="qa-item__text">
            А ще ми ділимося порадами та лайфхаками в
            <a
              class="qa__item-link"
              href="https://www.instagram.com/flexy.planner/"
              >Instagram</a
            >
            та окремому каналі в
            <a class="qa__item-link" href="https://t.me/flexy_planner"
              >Telegram</a
            >. Іноді проводимо тренінги та семінари. Підписуйся та лови інсайти!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
