<section class="qa section">
  <div class="container">
    <h2 class="qa__title">Часті запитання</h2>
    <ul class="qa__list">
      <li class="qa__item">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Чому ми обрали назву Flexy Planner?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <p class="qa-item__text visually-hidden">
          Flexy, це гра зі словом Flexible (англ. гнучкий), тому що Ми
          намагалися забезпечити максимальну гнучкість у використанні планера,
          щоб він підійшов і організованим і творчим людям.
        </p>
      </li>
      <li class="qa__item">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Чому так дорого?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <div class="qa-item__text visually-hidden">
            <p>
              1499 грн - це середня вартість всього однієї розмови з консультантом,
              терапевтом чи персональним коучем. А планер розрахований на півроку
              звичайного використання з прогулами. Можете сприймати як по 250 грн. в
              місяць, або 8 грн. в день, як пільговий проїзд в тролейбусі.
              <p><br> Крім
                того, ми використовуємо високоякісні матеріали, які суттєво
                подорожчали з початком війни в Україні. Виробництво ускладнено через
                перебої з електропостачанням. Це унікальний продукт в який вкладено
                багато часу, зусиль та любові. Ми формували ціну таким чином, щоб
                уможливити його подальший розвиток і радувати вас оновленнями та
                новими продуктами.</p>
            </p>
        </div>
      </li>
      <li class="qa__item">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Чи можете доставити закордон ?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <p class="qa-item__text visually-hidden">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus unde
          soluta deserunt, ratione beatae iusto sed, odio cum expedita deleniti
          ducimus incidunt consequatur magnam eligendi velit perspiciatis porro
          aliquam quia.
        </p>
      </li>
      <li class="qa__item">
        <div class="qa-btn__wrapper">
          <h3 class="qa-item__title">Чи планується електронний додаток?</h3>
          <button class="qa__btn">
            <svg class="qa__icon">
              <use href="./icons/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <p class="qa-item__text visually-hidden">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
          commodi voluptate quis quasi laudantium nam hic quam necessitatibus
          similique, nihil tenetur, iusto dolore odit nemo ipsa totam ut ullam
          architecto.
        </p>
      </li>
    </ul>
  </div>
</section>
