<div class="chatButton__wrapper">
  <a class="chatButton">
    <svg class="chatButton__icon">
      <use href="./icons/sprite.svg#icon-chat"></use>
    </svg>
  </a>
  <a href="https://t.me/FlexyPlanner_bot" class="social-button telegram-button">
    <svg class="chatButton__icon">
      <use href="./icons/sprite.svg#telegram"></use>
    </svg>
  </a>
  <a
    href="https://www.instagram.com/flexy.planner/"
    class="social-button insta-button"
  >
    <svg class="chatButton__icon">
      <use href="./icons/sprite.svg#instagram"></use>
    </svg>
  </a>
</div>
