<section class="swiper-detailed">
  <div class="swiper-detailed__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
                    ./images/swiper/pln-detailed-mob-1.jpg
                    ./images/swiper/pln-detailed-mob-1@2x.jpg
                    "
            media="(min-width: 320px)"
            type="image/img"
          />
          <source
            srcset="
                    ./images/swiper/pln-detailed-desk-1.jpg
                    ./images/swiper/pln-detailed-desk-1@2x.jpg
                    "
            media="(min-width: 980px)"
            type="image/img"
          />
          <img
            class="swiper-slide__img"
            src="./images/swiper/pln-detailed-desk-1@2x.jpg"
            alt="planner-detailed"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
                ./images/swiper/pln-detailed-mob-2.jpg
                ./images/swiper/pln-detailed-mob-2@2x.jpg
                "
            media="(min-width: 320px)"
            type="image/img"
          />
          <source
            srcset="
                ./images/swiper/pln-detailed-desk-2.jpg
                ./images/swiper/pln-detailed-desk-2@2x.jpg
                "
            media="(min-width: 980px)"
            type="image/img"
          />
          <img
            class="swiper-slide__img"
            src="./images/swiper/pln-detailed-desk-2@2x.jpg"
            alt="planner-detailed"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
                ./images/swiper/pln-detailed-mob-3.jpg
                ./images/swiper/pln-detailed-mob-3@2x.jpg
                "
            media="(min-width: 320px)"
            type="image/img"
          />
          <source
            srcset="
                ./images/swiper/pln-detailed-desk-3.jpg
                ./images/swiper/pln-detailed-desk-3@2x.jpg
                "
            media="(min-width: 980px)"
            type="image/img"
          />
          <img
            class="swiper-slide__img"
            src="./images/swiper/pln-detailed-desk-3@2x.jpg"
            alt="planner-detailed"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
                ./images/swiper/pln-detailed-mob-4.jpg
                ./images/swiper/pln-detailed-mob-4@2x.jpg
                "
            media="(min-width: 320px)"
            type="image/img"
          />
          <source
            srcset="
                ./images/swiper/pln-detailed-desk-4.jpg
                ./images/swiper/pln-detailed-desk-4@2x.jpg
                "
            media="(min-width: 980px)"
            type="image/img"
          />
          <img
            class="swiper-slide__img"
            src="./images/swiper/pln-detailed-desk-4@2x.jpg"
            alt="planner-detailed"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
                ./images/swiper/pln-detailed-mob-5.jpg
                ./images/swiper/pln-detailed-mob-5@2x.jpg
                "
            media="(min-width: 320px)"
            type="image/img"
          />
          <source
            srcset="
                ./images/swiper/pln-detailed-desk-5.jpg
                ./images/swiper/pln-detailed-desk-5@2x.jpg
                "
            media="(min-width: 980px)"
            type="image/img"
          />
          <img
            class="swiper-slide__img"
            src="./images/swiper/pln-detailed-desk-5@2x.jpg"
            alt="planner-detailed"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
                ./images/swiper/pln-detailed-mob-6.jpg
                ./images/swiper/pln-detailed-mob-6@2x.jpg
                "
            media="(min-width: 320px)"
            type="image/img"
          />
          <source
            srcset="
                ./images/swiper/pln-detailed-desk-6.jpg
                ./images/swiper/pln-detailed-desk-6@2x.jpg
                "
            media="(min-width: 980px)"
            type="image/img"
          />
          <img
            class="swiper-slide__img"
            src="./images/swiper/pln-detailed-desk-6@2x.jpg"
            alt="planner-detailed"
          />
        </picture>
      </div>
    </div>
    <ul class="swiper-detailed__pagination swiper-pagination">
      <li class="bullet bullet-yellow">
        <span aria-label="flexxy planer yellow"></span>
      </li>
      <li class="bullet bullet-yellow">
        <span aria-label="flexxy planer yellow"></span>
      </li>
      <li class="bullet bullet-yellow">
        <span aria-label="flexxy planer yellow"></span>
      </li>
      <li class="bullet bullet-yellow">
        <span aria-label="flexxy planer yellow"></span>
      </li>
      <li class="bullet bullet-yellow">
        <span aria-label="flexxy planer yellow"></span>
      </li>
      <li class="bullet bullet-yellow">
        <span aria-label="flexxy planer yellow"></span>
      </li>
    </ul>
  </div>
</section>
