<section class="section video_section">
  <h2 class="title">Що всередині?</h2>
  <div class="video_icons_wrapper">
    <div class="video_text_wrapper">
      <img class="video_icon" src="./icons/sound.png" />
      <p class="video__text">Увімкни звук</p>
    </div>
    <div class="video_text_wrapper">
      <img class="video_icon" src="./icons/screen.png" />
      <p class="video__text">Перейди у повний екран</p>
    </div>
  </div>
  <video autoplay controls class="video_web" muted>
    <source src="./video/video.mp4" type="video/mp4" />
  </video>
</section>
