/* Webfont: MacPawFixelDisplay-Light */@font-face {
    font-family: 'MacPawFixelDisplayLight';
    src: url('MacPawFixelDisplay-Light.woff2') format('woff2'), /* Modern Browsers */
         url('MacPawFixelDisplay-Light.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

