.city-wrapper {
  max-width: 335px;
  position: relative;
  margin-bottom: 14px;

  @media screen and (min-width: $desktop-width) {
    max-width: 420px;
    margin-bottom: 24px;
  }
}

.input-label {
  display: block;
  font-size: 10px;
  line-height: calc(14 / 10);
  margin-bottom: 4px;
  color: #3c3b3b;

  @media screen and (min-width: $desktop-width) {
    font-size: 16px;
    line-height: calc(18 / 16);
  }
}

.input {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  padding: 13px 12px;
  width: 100%;
  border-radius: 4px;
  outline: inherit;

  @media screen and (min-width: $desktop-width) {
    font-size: 18px;
    line-height: calc(24 / 18);
    padding: 16px 14px;
  }
}

.input--city {
  border: none;
  background-color: $background-color;

  &::placeholder {
    color: rgba(60, 59, 59, 0.3);
  }
}

.input-wrapper {
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('../../assets/ico/arrow_down.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media screen and (min-width: $desktop-width) {
    &::after {
      right: 15px;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
    }
  }
}

.warehouse-wrapper {
  max-width: 335px;
  position: relative;
  margin-bottom: 72px;

  @media screen and (min-width: $desktop-width) {
    max-width: 420px;
    margin-bottom: 50px;
  }
}

.input--warehouse {
  border: 1px solid rgba(60, 59, 59, 0.1);
  padding-right: 40px;
}

.autocomplete-list {
  display: none;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $white-color;
  z-index: 10;
  color: $black-color;
  font-size: 12px;
  line-height: calc(18 / 12);
  padding: 12px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid rgba(60, 59, 59, 0.1);

  li {
    cursor: pointer;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 16px;
    line-height: calc(20 / 16);
    gap: 14px;
  }
}

.autocomplete.show {
  display: flex;
}
