@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  5% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}

@keyframes my-bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -20%, 0) scaleY(1.1);
  }

  70% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10%, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4%, 0) scaleY(1.02);
  }

  100% {
    opacity: 1;
  }
}

.description {
  padding-bottom: 172px;
}

.description__container {
  max-height: 100vh;
}

.description__title {
  margin: 0 auto;
  margin-bottom: 136px;
  letter-spacing: -0.02em;

  @media screen and (min-width: $desktop-width) {
    max-width: 1000px;
    margin-bottom: 230px;
  }
}

.description__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  position: relative;
}

.btn-wrapper {
  position: absolute;
  bottom: 70px;
  right: 60px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  transition: opacity $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function;

  background: linear-gradient(#ff7a2e, $accent-color);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  animation: morphing 10s infinite;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (min-width: $desktop-width) {
    width: 220px;
    height: 220px;
    bottom: 160px;
    right: 100px;
  }
}

.description__button {
  display: block;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $black-color;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  color: $white-color;
  text-transform: uppercase;
  font-family: $font-family700;
  border: none;
  cursor: pointer;

  transition: background-color $transition-duration $transition-timing-function,
    color $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function;

  &:active {
    transform: scale(0.9);
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $black-color;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 24px;
    width: 200px;
    height: 200px;
  }
}

.btn-text {
  transform: rotate(30deg);

  transition: transform $transition-duration $transition-timing-function,
    opacity $transition-duration $transition-timing-function;

  &.fade {
    transform: rotate(30deg) scale(0.5);
    opacity: 0;
  }
}

.description__item {
  position: absolute;
  width: 64px;
  opacity: 0;

  transition: opacity $transition-duration $transition-timing-function;

  &.active {
    opacity: 1;
  }

  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 6px;
  }

  &:nth-child(1) {
    top: -60px;
    right: 60px;

    &::before {
      background: url('./../images/description/mob_1x_round_1.png') center /
        60px 60px no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url('./../images/description/mob_2x_round_1.png') center /
          60px 60px no-repeat;
      }
    }
  }

  &:nth-child(2) {
    top: 60px;
    right: -20px;

    &::before {
      background: url('./../images/description/mob_1x_round_2.png') center /
        60px 60px no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url('./../images/description/mob_2x_round_2.png') center /
          60px 60px no-repeat;
      }
    }
  }

  &:nth-child(3) {
    bottom: 80px;
    right: -20px;

    &::before {
      background: url('./../images/description/mob_1x_round_3.png') center /
        60px 60px no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url('./../images/description/mob_2x_round_3.png') center /
          60px 60px no-repeat;
      }
    }
  }

  &:nth-child(4) {
    bottom: -60px;
    right: 60px;

    &::before {
      background: url('./../images/description/mob_1x_round_4.png') center /
        60px 60px no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url('./../images/description/mob_2x_round_4.png') center /
          60px 60px no-repeat;
      }
    }
  }

  &:nth-child(5) {
    bottom: -60px;
    left: 60px;

    &::before {
      background: url('./../images/description/mob_1x_round_5.png') center /
        60px 60px no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url('./../images/description/mob_2x_round_5.png') center /
          60px 60px no-repeat;
      }
    }
  }

  &:nth-child(6) {
    bottom: 80px;
    left: -20px;

    &::before {
      background: url('./../images/description/mob_1x_round_6.png') center /
        60px 60px no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url('./../images/description/mob_2x_round_6.png') center /
          60px 60px no-repeat;
      }
    }
  }

  &:nth-child(7) {
    top: 60px;
    left: -20px;

    &::before {
      background: url('./../images/description/mob_1x_round_7.png') center /
        60px 60px no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url('./../images/description/mob_2x_round_7.png') center /
          60px 60px no-repeat;
      }
    }
  }

  &:nth-child(8) {
    top: -60px;
    left: 60px;

    &::before {
      background: url('./../images/description/desk_1x_round_8.png') center /
        60px 60px no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url('./../images/description/desk_2x_round_8.png') center /
          60px 60px no-repeat;
      }
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 190px;

    &::before {
      width: 140px;
      height: 140px;
      margin-bottom: 24px;
    }

    &:nth-child(1) {
      top: -100px;
      right: 0;

      &::before {
        background: url('./../images/description/desk_1x_round_1.png') center /
          140px 140px no-repeat;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background: url('./../images/description/desk_2x_round_1.png') center /
            140px 140px no-repeat;
        }
      }
    }

    &:nth-child(2) {
      top: 150px;
      right: 150px;

      &::before {
        background: url('./../images/description/desk_1x_round_2.png') center /
          140px 140px no-repeat;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background: url('./../images/description/desk_2x_round_2.png') center /
            140px 140px no-repeat;
        }
      }
    }

    &:nth-child(3) {
      bottom: 230px;
      right: 0;

      &::before {
        background: url('./../images/description/desk_1x_round_3.png') center /
          140px 140px no-repeat;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background: url('./../images/description/desk_2x_round_3.png') center /
            140px 140px no-repeat;
        }
      }
    }

    &:nth-child(4) {
      bottom: 0;
      right: 150px;

      &::before {
        background: url('./../images/description/desk_1x_round_4.png') center /
          140px 140px no-repeat;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background: url('./../images/description/desk_2x_round_4.png') center /
            140px 140px no-repeat;
        }
      }
    }

    &:nth-child(5) {
      bottom: 0;
      left: 150px;

      &::before {
        background: url('./../images/description/desk_1x_round_5.png') center /
          140px 140px no-repeat;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background: url('./../images/description/desk_2x_round_5.png') center /
            140px 140px no-repeat;
        }
      }
    }

    &:nth-child(6) {
      bottom: 230px;
      left: 0;

      &::before {
        background: url('./../images/description/desk_1x_round_6.png') center /
          140px 140px no-repeat;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background: url('./../images/description/desk_2x_round_6.png') center /
            140px 140px no-repeat;
        }
      }
    }

    &:nth-child(7) {
      top: 150px;
      left: 150px;

      &::before {
        background: url('./../images/description/desk_1x_round_7.png') center /
          140px 140px no-repeat;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background: url('./../images/description/desk_2x_round_7.png') center /
            140px 140px no-repeat;
        }
      }
    }

    &:nth-child(8) {
      top: -100px;
      left: 0;

      &::before {
        background: url('./../images/description/desk_1x_round_8.png') center /
          140px 140px no-repeat;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background: url('./../images/description/desk_2x_round_8.png') center /
            140px 140px no-repeat;
        }
      }
    }
  }
}

.description__text {
  width: 100%;
  font-size: 8px;
  font-family: $font-family700;
  line-height: calc(10 / 8);
  text-transform: uppercase;
  opacity: 0;

  @media screen and (min-width: $desktop-width) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  &.active {
    animation-name: my-bounce;
    animation-delay: 400ms;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
  }
}

.benefits {
  margin: 0 auto;
  width: 100%;
  max-width: 824px;
  padding: 14px 14px 14px 24px;
  font-size: 14px;
  line-height: calc(18 / 14);
  background-color: $background-color;
  border-radius: 4px;

  @media screen and (min-width: $desktop-width) {
    padding: 48px 98px 48px 116px;
    font-size: 24px;
    line-height: calc(32 / 24);
  }
}

.benefits-list__item {
  padding-left: 12px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color: $black-color;
    border-radius: 50%;
    top: 8px;
    left: 0;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 20px;

    &::before {
      width: 3px;
      height: 3px;
      top: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}
