.admin-form-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-form__input-field {
  width: 300px;
  height: 50px;
  background: #ecf0f3;
  border: 1px solid transparent;
  outline: none;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  text-indent: 20px;
}

.admin-form__input-field:valid {
  border: 1px solid rgb(3, 94, 26);
}

.admin-form__button {
  height: 50px;
  width: 300px;
  background: #ecf0f3;
  border: 1px solid transparent;
  outline: none;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  box-shadow: 6px 6px 6px #cbced1, -2px -2px 18px white;
  padding: 0 20px;
  transition: all 250ms ease-in-out;
}

.admin-form__button:hover {
  box-shadow: none;
  color: white;
  background: #4e6141;
}

#logoutButton {
  margin-top: 20px;
  margin-left: 20px;
}
