.container-order {
  margin-bottom: 72px;
  @media screen and (min-width: 1440px) {
    max-width: 1022px;
    margin-bottom: 172px;
  }
}

.order {
  font-size: 14px;
  font-family: $font-family400;
  text-align: center;
  letter-spacing: -0.02em;
  color: $black-color;
}

.pre-order-title {
  margin-bottom: 16px;

  @media screen and (min-width: 1440px) {
    font-size: 32px;
    margin-bottom: 18px;
  }

  &__crossed {
    text-decoration: line-through;
  }
}

.order-title {
  margin-bottom: 8px;
  @media screen and (min-width: 1440px) {
    font-size: 32px;
    margin-bottom: 18px;
  }

  &__accent {
    color: $accent-color;
  }
}

.pre-order,
.order-now {
  line-height: calc(22 / 18);

  &__text {
    font-size: 18px;
    font-family: $font-family500;
    margin-bottom: 16px;

    @media screen and (min-width: 1440px) {
      font-size: 24px;
      line-height: calc(28 / 24);
      margin-bottom: 14px;
    }
  }

  &__price {
    color: $alert-color;
  }

  &__delivery {
    display: inline-block;
    margin-bottom: 24px;
    color: $secondary-text-color;
    font-family: $font-family400;

    @media screen and (min-width: 1440px) {
      margin-bottom: 32px;
      font-size: 18px;
      font-family: $font-family400;
      line-height: calc(24 / 18);
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 12px 62px 8px;
    margin-bottom: 24px;
    font-family: $font-family600;
    letter-spacing: -0.02em;
    font-size: 18px;
    line-height: calc(22 / 18);

    @media screen and (min-width: 1440px) {
      margin-bottom: 14px;
      padding: 15px 32px 13px;
    }
  }

  &__link {
    font-family: $font-family500;
    margin-bottom: 24px;
    text-decoration: underline;
    font-size: 14px;

    @media screen and (min-width: 1440px) {
      margin-bottom: 50px;
      font-size: 18px;
      line-height: calc(28 / 18);
      // font-family: $font-family500;
    }
  }
}

.pre-order__delivery {
  width: 246px;
  @media screen and (min-width: 1440px) {
    width: 350px;
  }
}

.motivation-block {
  padding: 14px;
  background-color: $background-color;
  text-align: left;
  font-family: $font-family400;
  line-height: calc(22 / 14);

  @media screen and (min-width: 1440px) {
    padding: 62px 66px;
  }

  &__link {
    font-family: $font-family700;
    font-style: normal;
  }

  &__text {
    font-size: 14px;
    @media screen and (min-width: 1440px) {
      font-size: 24px;
    }
  }

  &__text br {
    display: none;
    @media screen and (min-width: 1440px) {
      display: initial;
      padding-top: 20px;
    }
  }
}
