.header {
  margin-top: 20px;
}

.orderProcessing__logo {
  width: 97px;
  margin-bottom: 40px;
}

.orderProcessing__title {
  font-family: $font-family700;
  // font-style: normal;
  // font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  margin-bottom: 50px;

  @media screen and (min-width: $desktop-width) {
    font-size: 64px;
    line-height: 1.06;
  }
}

.orderProcessing__productWrapper {
  @media screen and (min-width: $desktop-width) {
    max-width: 756px;
  }
}

.section__title {
  font-family: $font-family400;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;

  margin-bottom: 24px;

  @media screen and (min-width: $desktop-width) {
    font-family: $font-family500;
    font-size: 24px;
    line-height: 1.33;
  }
}

.orderProcessing__plannerWrapper {
  display: flex;
}

.orderProcessing__planner {
  max-width: 73px;

  @media screen and (min-width: $desktop-width) {
    max-width: 187px;
  }
}

.orderProcessing__textPlannerWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.orderProcessing__textWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.orderProcessing__plannerDescr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 142px;
  margin-left: 16px;

  @media screen and (min-width: $desktop-width) {
    width: 347px;
    margin-left: 24px;
  }
}

.orderProcessing__titleWrapper {
  @media screen and (min-width: $desktop-width) {
    min-width: 200px;
  }
}

.orderProcessing__itemDescr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 155px;
  margin-left: 16px;

  @media screen and (min-width: $desktop-width) {
    flex-direction: row;
    width: 330px;
    margin-left: 24px;
  }
}

.orderProcessing__plannerTitle {
  font-family: $font-family400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  @media screen and (min-width: $desktop-width) {
    font-family: $font-family500;
    font-size: 24px;
    line-height: 1.33;
  }
}

.orderProcessing__plannerParagraph {
  font-family: $font-family400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  color: $secondary-text-color;

  @media screen and (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 1.33;
  }
}

.orderProcessing__priceDescr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.orderProcessing__price {
  font-family: $font-family500;
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: -0.02em;
  color: $secondary-text-color;
  margin-bottom: 8px;

  @media screen and (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 1.33;
  }
}

.orderProcessing__priceCancelled {
  font-family: $font-family400;
  font-size: 8px;
  line-height: 1.1;

  letter-spacing: -0.01em;
  text-decoration-line: line-through;

  color: $black-color;

  @media screen and (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.orderProcessing__priceCurrent {
  font-family: $font-family600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: $alert-color;

  @media screen and (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 1.33;
  }
}

.orderProcessing__amount {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  padding: 0px;
  gap: 28px;

  @media screen and (min-width: $desktop-width) {
    max-width: 545px;
    margin-left: 210px;
    margin-top: -110px;
  }
}

.orderProcessing__ItemImgWrapper {
  position: relative;
  // max-width: 52px;
  // max-height: 68px;
  min-width: 52px;
  min-height: 68px;

  @media screen and (min-width: $desktop-width) {
    min-width: 74px;
    min-height: 96px;
  }
}

.orderProcessing__ItemImg {
  position: absolute;
  top: 18px;
  scale: 3;
  z-index: -2;
}

.orderProcessing__amountTitle {
  font-family: $font-familyLight400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: $secondary-text-color;

  @media screen and (min-width: $desktop-width) {
    font-family: $font-familyLight400;
    font-size: 18px;
    line-height: 1.33;
  }
}

.orderProcessing__list {
  display: flex;
  flex-direction: column;
}

.orderProcessing__item {
  min-width: 335px;
}

.orderProcessing__item:not(:last-child) {
  margin-bottom: 20px;

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0px;
  }
}

.orderProcessing__itemWrapper {
  display: flex;
  height: 95px;

  @media screen and (min-width: $desktop-width) {
    align-items: center;
    height: 140px;
  }
}

// .orderProcessing__item:not(:last-child):after {
.orderProcessing__item:after {
  content: '';
  display: block;
  width: 335px;
  height: 1px;
  background: $black-color;
  opacity: 0.1;

  @media screen and (min-width: $desktop-width) {
    width: 545px;
  }
}

.orderProcessing__itemTitle {
  font-family: $font-familyLight400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.02em;

  margin-bottom: 4px;

  color: $black-color;

  @media screen and (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 1.29;
    max-width: 180px;
  }
}

.orderProcessing__itemParagraph {
  font-family: $font-family400;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: $secondary-text-color;
  margin-bottom: 14px;

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0px;

    font-size: 12px;
    line-height: 1.5;
  }
}

.orderProcessing__inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $desktop-width) {
    width: 77px;
  }
}

.orderProcessing__minus {
  // display: block;
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.orderProcessing__plus {
  @extend .orderProcessing__minus;
}

.orderProcessing__close {
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-top: -2px;
}

.orderProcessing__number {
  height: 16px;
  min-width: 37px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 4px;
  border: 0.5px solid rgba(17, 17, 17, 0.2);
  border-radius: 2px;

  font-family: $font-family400;
  font-size: 12px;
  line-height: 1;

  color: $black-color;

  @media screen and (min-width: $desktop-width) {
    width: 41px;
    height: 20px;

    border: 0.8px solid rgba(17, 17, 17, 0.2);

    font-size: 14px;
    // line-height: 1.14;
  }
}

.orderProcessing__costBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family600;
  font-size: 12px;
  line-height: 1;

  color: $black-color;
}

.orderProcessing__addBtn {
  font-family: $font-family400;
  font-size: 12px;
  line-height: 1;
  color: #111111;
  cursor: pointer;

  @media screen and (min-width: $desktop-width) {
    margin-left: 17px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;

    color: #3c3b3b;
  }
}

.orderProcessing__addBtn::after {
  content: '';
  display: block;
  width: 43px;
  height: 1px;
  background: $secondary-text-color;
  opacity: 0.5;

  @media screen and (min-width: $desktop-width) {
    width: 49px;
  }
}

.orderProcessing__lastItemsLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: 12px;
  font-weight: $bold-text;
  color: $secondary-text-color;
  height: 20px;
  background-color: $accent-color;
  border-radius: 10px;
  width: 90px;
}

.orderProcessing__firstCostWrapper {
  display: flex;
  font-size: 14px;
  font-weight: $bold-text;
  justify-content: space-between;
  // color: $alert-color;

  @media screen and (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.orderProcessing__firstCostTitle {
  margin-left: 68px;
  @media screen and (min-width: $desktop-width) {
    margin-left: 98px;
  }
}

.orderProcessing__firstCostValue {
  color: $alert-color;
}

.orderProcessing__noPlannersWarning {
  font-family: $font-familyLight400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.02em;

  margin-bottom: 4px;

  color: $black-color;

  @media screen and (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 1.29;
    max-width: 375px;
  }
}
