<div class="container contacts__container">
  <h3 class="subtitle">2. Контактні дані покупця</h3>
  <form class="contacts__form">
    <label for="username" class="contacts__label">Як тебе звати?</label>
    <input
      type="text"
      name="username"
      placeholder="Степан"
      class="contacts__input contacts__name"
      id="username"
      required
      pattern="^[A-Za-zА-Яа-яґҐЁёІіЇїЄє'’ʼ-]+$"
      oninput="this.value = this.value.replace(/\s/g, '')"
      title="Введіть Ім'я"
    />
    <label for="phone" class="contacts__label">Мобільний телефон</label>
    <input
      type="text"
      name="phone"
      id="phone"
      class="contacts__input contacts__phone"
      required
    />

    <button type="submit" class="btn btn--secondary contacts__btn">
      Продовжити
    </button>
  </form>
</div>

