<div class="container">
  <h3 class="subtitle">3. Доставка</h3>
  <div class="city-wrapper">
    <label class="input-label" for="city">Ваше місто</label>
    <input
      type="text"
      class="input input--city"
      name="city"
      id="city"
      placeholder="Вкажіть населений пункт"
    />
    <ul class="autocomplete-list cities"></ul>
  </div>
  <div class="warehouse-wrapper">
    <label class="input-label" for="warehouse">Нова пошта</label>
    <div class="input-wrapper">
      <input
        type="text"
        class="input input--warehouse"
        name="warehouse"
        id="warehouse"
        placeholder="Виберіть відповідне відділення"
      />
    </div>
    <ul class="autocomplete-list warehouses"></ul>
  </div>
</div>
