<div class="container">
  <div class="finalSum">
    <h3 class="finalSum__title">Разом</h3>
    <div class="finalSum__wrapper"></div>
    <!-- <ul class="finalSum__list">
      <li class="finalSum__item">
        <p class="finalSum__descr">3 товари на суму</p>
        <p class="finalSum__amount">3980 грн</p>
      </li>
      <li class="finalSum__item">
        <p class="finalSum__descr">Вартість доставки</p>
        <p class="finalSum__amount finalSum__amount--font">
          за тарифами перевізника
        </p>
      </li>
      <li class="finalSum__item">
        <p class="finalSum__descr">Знижка за промокодом</p>
        <p class="finalSum__amount">100 грн</p>
      </li>
    </ul>
    <div class="finalSum__total">
      <p class="finalSum__totalDescr">До сплати</p>
      <p class="finalSum__totalAmount">3880 грн</p>
    </div> -->
    <button type="button" class="btn btn--primary finalSum__btn">
      Оплатити
    </button>
  </div>
</div>
