<section class="orderProcessing">
  <div class="container orderProcessing__container">
    <div class="header">
      <a href="/">
        <picture>
          <source srcset="
              ./images/logo/mob_logo_1x.png 1x,
              ./images/logo/mob_logo_2x.png 2x
            " media="(max-width: 375px)" />
          <source srcset="
              ./images/logo/desk_logo_1x.png 1x,
              ./images/logo/desk_logo_2x.png 2x
            " media="(min-width: 1440px)" />
          <img src="./images/logo/mob_logo_1x.png" alt="flexxy planner logo" class="orderProcessing__logo" />
        </picture>
      </a>
      <h2 class="orderProcessing__title">Оформлення замовлення</h2>
    </div>
    <div class="orderProcessing__productWrapper">
      <h3 class="section__title">1. Обери свій планер</h3>
      <div class="orderProcessing__amount">
        <div class="orderProcessing__forFirstLine">
          <div class="orderProcessing_listTitles">
            <h4 class="orderProcessing__amountTitle">Колір та кількість</h4>
            <h4 class="orderProcessing__amountTitle">Ціна та вартість</h4>
          </div>
        </div>

        <ul class="orderProcessing__list">
        </ul>
        <div class="orderProcessing__firstCostWrapper">
        </div>
      </div>
    </div>
  </div>
</section>