<section class="orderProcessing">
  <div class="container">
    <div class="header">
      <a href="/">
        <picture>
          <source srcset="
              ./images/logo/mob_logo_1x.png 1x,
              ./images/logo/mob_logo_2x.png 2x
            " media="(max-width: 375px)" />
          <source srcset="
              ./images/logo/desk_logo_1x.png 1x,
              ./images/logo/desk_logo_2x.png 2x
            " media="(min-width: 1440px)" />
          <img src="./images/logo/mob_logo_1x.png" alt="flexxy planner logo" class="orderProcessing__logo" />
        </picture>
      </a>
      <h2 class="orderProcessing__title">Оформлення замовлення</h2>
    </div>
    <div class="orderProcessing__productWrapper">
      <h3 class="section__title">1. Товар</h3>
      <div class="orderProcessing__plannerWrapper">
        <picture>
          <source srcset="
              ./images/order/mob_order_1x.jpg 1x,
              ./images/order/mob_order_2x.jpg 2x
            " media="(max-width: 375px)" />
          <source srcset="
              ./images/order/desk_order_1x.jpg 1x,
              ./images/order/desk_order_2x.jpg 2x
            " media="(min-width: 1440px)" />
          <img src="./images/order/mob_order_1x.jpg" alt="Flexxy Planner Folder" class="orderProcessing__planner" />
        </picture>
        <div class="orderProcessing__textPlannerWrapper">
          <div class="orderProcessing__plannerDescr">
            <h4 class="orderProcessing__plannerTitle">Flexy Planner</h4>
            <p class="orderProcessing__plannerParagraph">
              Багатофункціональний адаптивний щоденник
            </p>
          </div>
          <div class="orderProcessing__priceDescr">
            <p class="orderProcessing__price">Ціна одного</p>
            <p class="orderProcessing__priceCancelled"></p>
            <p class="orderProcessing__priceCurrent"></p>
          </div>
        </div>
      </div>
      <div class="orderProcessing__amount">
        <h4 class="orderProcessing__amountTitle">Кількість</h4>
        <ul class="orderProcessing__list">
          <!-- <li class="orderProcessing__item" data-idx="#2378560">
            <div class="orderProcessing__itemWrapper">
              <picture>
                <source srcset="
                    ./images/hero/mob_1x_planner_yellow.png 1x,
                    ./images/hero/mob_2x_planner_yellow.png 2x
                  " media="(max-width: 375px)" />
                <source srcset="
                    ./images/hero/desk_1x_planner_yellow.jpg 1x,
                    ./images/hero/desk_2x_planner_yellow.jpg 2x
                  " media="(min-width: 1440px)" />
                <img src="./images/hero/mob_1x_planner_yellow.png" alt="Flexxy Planner Folder"
                  class="orderProcessing__ItemImg" />
              </picture>
              <div class="orderProcessing__textWrapper">
                <div class="orderProcessing__itemDescr">
                  <div class="orderProcessing__titleWrapper">
                    <h4 class="orderProcessing__itemTitle">
                      Жовтий Flexy Planner
                    </h4>
                    <p class="orderProcessing__itemParagraph">#2378560</p>
                  </div>

                  <div class="orderProcessing__inputWrapper">
                    <svg class="orderProcessing__minus" data-action="minus">
                      <use href="./icons/sprite.svg#minus_order"></use>
                    </svg>
                    <span class="orderProcessing__number">1</span>
                    <svg class="orderProcessing__plus" data-action="plus">
                      <use href="./icons/sprite.svg#plus_order"></use>
                    </svg>
                  </div>

                  <p class="orderProcessing__addBtn visually-hidden" data-action="addAmount">
                    Додати
                  </p>
                </div>
                <p class="orderProcessing__cost">995 грн</p>
                <svg class="orderProcessing__close" data-action="reset">
                  <use href="./icons/sprite.svg#reset_order"></use>
                </svg>
              </div>
            </div>
          </li> -->
          <!-- <li class="orderProcessing__item" data-idx="#2378561">
            <div class="orderProcessing__itemWrapper">
              <picture>
                <source srcset="
                    ./images/hero/mob_1x_planner_red.png 1x,
                    ./images/hero/mob_2x_planner_red.png 2x
                  " media="(max-width: 375px)" />
                <source srcset="
                    ./images/hero/desk_1x_planner_red.jpg 1x,
                    ./images/hero/desk_2x_planner_red.jpg 2x
                  " media="(min-width: 1440px)" />
                <img src="./images/hero/mob_1x_planner_red.png" alt="Flexxy Planner Folder"
                  class="orderProcessing__ItemImg" />
              </picture>
              <div class="orderProcessing__textWrapper">
                <div class="orderProcessing__itemDescr">
                  <div class="orderProcessing__titleWrapper">
                    <h4 class="orderProcessing__itemTitle">
                      Помаранчевий Flexy Planner
                    </h4>
                    <p class="orderProcessing__itemParagraph">#2378561</p>
                  </div>
                  <div class="orderProcessing__inputWrapper">
                    <svg class="orderProcessing__minus" data-action="minus">
                      <use href="./icons/sprite.svg#minus_order"></use>
                    </svg>
                    <span class="orderProcessing__number">1</span>
                    <svg class="orderProcessing__plus" data-action="plus">
                      <use href="./icons/sprite.svg#plus_order"></use>
                    </svg>
                  </div>

                  <p class="orderProcessing__addBtn visually-hidden" data-action="addAmount">
                    Додати
                  </p>
                </div>
                <p class="orderProcessing__cost">995 грн</p>
                <svg class="orderProcessing__close" data-action="reset">
                  <use href="./icons/sprite.svg#reset_order"></use>
                </svg>
              </div>
            </div>
          </li> -->
          <!-- <li class="orderProcessing__item" data-idx="#2378562">
            <div class="orderProcessing__itemWrapper">
              <picture>
                <source srcset="
                    ./images/hero/mob_1x_planner_black.png 1x,
                    ./images/hero/mob_2x_planner_black.png 2x
                  " media="(max-width: 375px)" />
                <source srcset="
                    ./images/hero/desk_1x_planner_black.jpg 1x,
                    ./images/hero/desk_2x_planner_black.jpg 2x
                  " media="(min-width: 1440px)" />
                <img src="./images/hero/mob_1x_planner_black.png" alt="Flexxy Planner Folder"
                  class="orderProcessing__ItemImg" />
              </picture>
              <div class="orderProcessing__textWrapper">
                <div class="orderProcessing__itemDescr">
                  <div class="orderProcessing__titleWrapper">
                    <h4 class="orderProcessing__itemTitle">
                      Чорний Flexy Planner
                    </h4>
                    <p class="orderProcessing__itemParagraph">#2378562</p>
                  </div>
                  <div class="orderProcessing__inputWrapper">
                    <svg class="orderProcessing__minus" data-action="minus">
                      <use href="./icons/sprite.svg#minus_order"></use>
                    </svg>
                    <span class="orderProcessing__number">1</span>
                    <svg class="orderProcessing__plus" data-action="plus">
                      <use href="./icons/sprite.svg#plus_order"></use>
                    </svg>
                  </div>

                  <p class="orderProcessing__addBtn visually-hidden" data-action="addAmount">
                    Додати
                  </p>
                </div>
                <p class="orderProcessing__cost">995 грн</p>
                <svg class="orderProcessing__close" data-action="reset">
                  <use href="./icons/sprite.svg#reset_order"></use>
                </svg>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>