<section class="orderProcessing">
  <div class="container">
    <div class="header">
      <a href="">
        <picture>
          <source srcset="
                      ../assets/img/logo/mob_logo_1x.png 1x,
                      ../assets/img/logo/mob_logo_2x.png 2x
                    " media="(max-width: 375px)" />
          <source srcset="
                      ../assets/img/logo/desk_logo_1x.png 1x,
                      ../assets/img/logo/desk_logo_2x.png 2x
                    " media="(min-width: 980px)" />
          <img src="../assets/img/logo/mob_logo_2x.png" alt="flexxy planner logo" class="orderProcessing__logo" />
        </picture>
      </a>
      <h2 class="orderProcessing__title">Оформлення замовлення</h2>
    </div>
    <h3 class="section__title">1. Товар</h3>
    <div class="orderProcessing__plannerWrapper">
      <picture>
        <source srcset="
                            ../assets/img/hero/mob_1x_planner_yellow.png 1x,
                            ../assets/img/hero/mob_2x_planner_yellow.png 2x
                          " media="(max-width: 375px)" />
        <source srcset="
                            ../assets/img/hero/desk_1x_planner_yellow.jpg 1x,
                            ../assets/img/hero/desk_2x_planner_yellow.jpg 2x
                          " media="(min-width: 980px)" />
        <img src="../assets/img/hero/mob_1x_planner_yellow.png" alt="Flexxy Planner Folder"
          class="orderProcessing__planner" />
      </picture>
      <div class="orderProcessing__textWrapper">
        <div class="orderProcessing__plannerDescr">
          <h4 class="orderProcessing__plannerTitle">Flexy Planner</h4>
          <p class="orderProcessing__plannerParagraph">Багатофункціональний адаптивний щоденник</p>
        </div>
        <div class="orderProcessing__priceDescr">
          <p class="orderProcessing__price">Ціна одного</p>
          <p class="orderProcessing__priceCancelled">1499 грн</p>
          <p class="orderProcessing__priceCurrent">995 грн</p>
        </div>
      </div>
    </div>
  </div>
</section>