<div class="container">  
  <div class="promo__wrapper">
    <form autocomplite="off" class="promo__form">
      <label for="promo">Промокод </label>
      <button class="promo__toggle" type="button" aria-label="кнопка для застосування промокоду">Додати</button>
      <div class="promo__hide">
        <input name="promo" id="promo" type="text" placeholder="Введіть промокод"/>
        <button type="submit" aria-label="кнопка для підтвердження застосування промокоду">Застосувати</button>
        <div class="promo__success">
          <p class="promo__success-text">Промокод застосовано</p>
          <p class="promo__final">Знижка за промокодом <span class="promo__discount">100</span></p>
        </div>
      </div>
    </form>
  </div>
</div>
